/*fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styles or utilities */
body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* first section style start */
.top-section
{
    background-color: #2D25A0;
    display: flex;
    align-items: center;
}
.top-banner
{
    padding-top: 205px;
    margin-left: 156px;
}
.section-title
{
    width: 485px;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 26px;
}
.live-streaming
{
    display: flex;
    background-color: #E02C6D;
    width: 130px;
    height: 30px;
    padding: 10px 20px;
    margin-bottom: 170px;
    transition: transform 2s;

}
.live-streaming:hover
{
    transform: rotate(360deg);
}
.link
{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.fas
{
    color: #FFFFFF;
    padding-left: 10px;
}
.football-img
{
    width: 556px;
    height: 438px;
    margin-left: 102px;
    margin-right: 140px;
    margin-bottom: 86px;
    margin-top: 153px;
}
/* article part start */
.second-sec
{
    background-color: #FFFFFF;
}
.player-div
{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-row-gap: 27px;
    margin-left: 180px;
    margin-top: 70px;
}
.player-detail
{
    width: 300px;
    height: 474px;
    box-shadow: 0px 0px 20px gray;
    padding: 15px;
}
.player-img img 
{
    width: 300px;
    height: 256px;
}
.player-name
{
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 10px;
}
/* footer part start */
.footer-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 288px;
}
.footer-img img
{
    width: 483.87px;
    height: 110px;
}
.fab.icon
{
    background-color: #969bab93;
    width: 40px;
    height: 32px;
    color: black;
    text-align: center;
    padding-top: 10px;
    border-radius: 40px;
}
/* media queries */